.sidebar {
  position: fixed;
}

.list-group-item {
  background-color: white;
  color: black;
  border: 1px solid rgba(0,0,0,.125);
}

@media (min-width: 768px) {
  .sidebar {
    width: 167px;
  }
}

@media (min-width: 992px) {
  .sidebar {
    width: 186px;
  }
}

@media (min-width: 1200px) {
  .sidebar {
    width: 224px;
  }
}
