<div class="card-block">
  <h5 class="card-title">Log In</h5>
  <h6 class="card-subtitle text-muted">See Your Family</h6>
  <br>
<!-- </div>
<div class="card-block"> -->
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary btn-block pointer">Log In</button>
  </form>
</div>