<div class="card mb-2">
  <div class="card-block">
    <h3 class="card-title">About Us</h3>
    <h6 class="card-subtitle text-muted">Meet the Team</h6>
  </div>
  <div class="card-block">
    <p class="card-text">This is some information about what Family Site does and the people behind creating Family Site. It is supposed to be quite informative and helpful for others.</p>
    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
