<app-header></app-header>

<div class="container">
  <div class="row no-gutters">
    <!-- <div class="col d-none d-md-block">
      <app-sidebar></app-sidebar>
    </div> -->
    <router-outlet></router-outlet>
  </div>
  <!-- <div class="row no-gutters">
    <div class="col d-none d-md-block">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9 col-lg-7">
      <div class="card mb-2">
        <h3 class="card-header">Post 1</h3>
        <div class="card-block">
          <h5 class="card-title">Special title treatment</h5>
          <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        </div>
        <div class="card-block">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <div class="card-footer text-muted text-xs-center">
          2 days ago
        </div>
      </div>
      <div class="card mb-2">
        <h3 class="card-header">Post 2</h3>
        <div class="card-block">
          <h5 class="card-title">Special title treatment</h5>
          <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        </div>
        <div class="card-block">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <div class="card-footer text-muted text-xs-center">
          2 days ago
        </div>
      </div>
      <div class="card mb-2">
        <h3 class="card-header">Post 3</h3>
        <div class="card-block">
          <h5 class="card-title">Special title treatment</h5>
          <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        </div>
        <div class="card-block">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <div class="card-footer text-muted text-xs-center">
          2 days ago
        </div>
      </div>
      <div class="card mb-2">
        <h3 class="card-header">Post 4</h3>
        <div class="card-block">
          <h5 class="card-title">Special title treatment</h5>
          <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        </div>
        <div class="card-block">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <div class="card-footer text-muted text-xs-center">
          2 days ago
        </div>
      </div>
    </div>
    <div class="col d-none d-lg-block" id="rightbar">
      <div class="card">
        <div class="card-block">
          Family Site &copy;{{ year }}
        </div>
      </div>
    </div>
  </div> -->
  <footer class="text-center">
    <div class="row">
      <div class="col">
        <p>Family Site &copy;{{ year }}</p>
      </div>
    </div>
  </footer>
</div>
