#rightbar {
  padding-left: 5px;
}

.pointer {
  cursor: pointer;
}

.card {
  padding-bottom: 20px;
}

.card-block {
  padding: 20px 20px 0px 20px;
}

#content {
  padding-top: 10px;
  background-color: rgb(110, 206, 206);
}
