<div class="card-block">
  <h5 class="card-title">Sign Up</h5>
  <h6 class="card-subtitle text-muted">Start Growing Your Family</h6>
  <br>
<!-- </div>
<div class="card-block"> -->
  <form>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" aria-describedby="firstName" placeholder="Enter first name">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" aria-describedby="lastName" placeholder="Enter last name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary btn-block pointer">Sign Up</button>
  </form>
</div>