<div class="card-block">
  <h5 class="card-title">Sign Up</h5>
  <h6 class="card-subtitle text-muted">Start Growing Your Family</h6>
  <br>
<!-- </div>
<div class="card-block"> -->
  <form [formGroup]="signUpForm" (ngSubmit)="signUp(signUpForm.value)">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" formControlName='firstName' placeholder="Enter first name">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Enter last name">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary btn-block pointer" [disabled]="!signUpForm.valid">Sign Up</button>
  </form>
</div>